.todoApp {
  max-width: 480px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 16px;
  background: #f9fafb;
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.8);
  .translation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    h1 {
      font-weight: bold;
    }
    .btn_trans {
      display: flex;
      gap: 8px;
    }
    .btn_trans button {
      cursor: pointer;
      padding: 4px 8px;
      border-radius: 4px;
      border: none;
      background: #e5e7eb;
    }
    .btn_trans button.active {
      background: #ef4444;
      color: white;
    }
  }

  form {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    input {
      flex: 1;
      padding: 10px 20px;
      border-radius: 10px;
      outline: none;
      border: 1px solid #d1d5db;
      font-weight: bold;
    }
  }
  .submit_btn {
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background: green;
    color: white;
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
}
